{{ $galleryCSS := resources.Get "scss/components/_gallery.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $galleryCSS.RelPermalink }}" integrity="{{ $galleryCSS.Data.Integrity }}">

<div class="container gallery-container">
    {{ $path := .Get 0 }}
    {{ $images := slice }}
    {{ $albumMetadata := "" }}
    {{ if (fileExists (print "assets/img/" $path)) }}
        {{ $images = readDir (print "assets/img/" $path) }}
        {{ if (fileExists (print "assets/img/" $path "/album.txt")) }}
            {{ $albumMetadata = readFile (print "assets/img/" $path "/album.txt") }}
        {{ end }}
    {{ end }}
    {{ if gt (len $images) 0 }}
        <div class="row row-cols-{{ .Get 1 | default 2 }} g-3">
            {{ range $index, $image := $images }}
                {{ $ext := lower (path.Ext $image.Name) }}
                {{ if in (slice ".jpg" ".jpeg" ".png" ".webp") $ext }}
                    {{ $imagePath := printf "img/%s/%s" $path $image.Name }}
                    {{ $imageResource := resources.Get $imagePath }}
                    {{ $thumbnail := $imageResource.Resize "400x267 webp" }}
                    {{ $original := $imageResource.Resize "800x webp" }}
                    {{ $title := $image.Name }}
                    {{ $caption := $image.Name }}
                    {{ if and $albumMetadata (lt $index (len (split $albumMetadata "\n"))) }}
                        {{ $metadataLine := index (split $albumMetadata "\n") $index }}
                        {{ if $metadataLine }}
                            {{ $parts := split $metadataLine "|" }}
                            {{ if ge (len $parts) 2 }}
                                {{ $title = index $parts 0 }}
                                {{ $caption = index $parts 1 }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    <div class="col">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal"
                           data-image="{{ $original.RelPermalink }}"
                           data-title="{{ $title }}"
                           data-caption="{{ $caption }}">
                            <img src="{{ $thumbnail.RelPermalink }}" 
                                 class="img-fluid rounded shadow-sm object-fit-cover thumbnail-img" 
                                 alt="{{ $caption }}"
                                 title="{{ $title }}"
                                 loading="lazy">
                        </a>
                    </div>
                {{ end }}
            {{ end }}
        </div>

        <!-- Modal (Tái sử dụng một modal duy nhất cho tất cả hình ảnh) -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body text-center position-relative p-0">
                        <img id="modalImage" class="img-fluid w-100" alt="">
                        <button type="button" 
                                class="btn-close close-btn" 
                                data-bs-dismiss="modal" 
                                aria-label="Close"></button>
                        <div class="modal-footer justify-content-center border-0 pt-2">
                            <p class="modal-title" id="modalCaption"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ $galleryJS := resources.Get "js/gallery.js" | resources.Minify | resources.Fingerprint }}
        <script src="{{ $galleryJS.RelPermalink }}" integrity="{{ $galleryJS.Data.Integrity }}"></script>
    {{ else }}
        <p>Album không tồn tại hoặc không chứa hình ảnh hợp lệ.</p>
    {{ end }}
</div>
